* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    font-family: 'SF Pro Display';
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    height: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    position: fixed;
    z-index: 100;
    width: 100vw;
}
.navlink a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.button {
    padding: 4px 14px;
    width: 74px;
    height: 25px;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 6px;
}
.hero {
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    padding-top: 4rem;
    overflow: hidden;
}
.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    color: white;
    margin-top: 8rem;
    max-width: 32rem;
    z-index: 10;
}
.title strong {
    color: #9BA4ED;
}
.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-top: 4px;
    max-width: 28rem;
}
.hero .button {
    margin-top: 18px;
}
.robo {
    position: absolute;
    top: 4rem;
    right: 3rem;
    width: 663px;
    height: 548px;
    z-index: -10;
}
.blur {
    background: radial-gradient(53.9% 53.9% at 77.01% 30.21%, rgba(31, 195, 231, 0.84375) 0%, #1F34E7 100%);
    opacity: 0.41;
    border-radius: 9999px;
    filter: blur(300px);
    position: absolute;
    z-index: -100;
}
.blur.satu {
    width: 457px;
    height: 457px;
    left: -247px;
    top: 12rem;
}
.blur.dua {
    width: 457px;
    height: 457px;
    left: 125px;
    top: 24rem;
}
.blur.tiga {
    width: 776px;
    height: 776px;
    right: -10rem;
    top: -12rem;
}
.circle {
    z-index: -50;
    position: absolute;
}
.circle-1 {
    width: 252px;
    height: 73px;
    right: 4rem;
    top: 5rem;
    opacity: 0.4;
    transform: rotate(6.07deg);
}
.circle-2 {
    width: 107px;
    height: 31px;
    right: 34rem;
    top: 5rem;
    opacity: 0.7;
    transform: rotate(7.82deg);
}
.circle-3 {
    width: 107px;
    height: 31px;
    right: 40rem;
    top: 10rem;
    transform: rotate(-33.52deg);
}
.circle-4 {
    position: absolute;
    width: 65px;
    height: 19px;
    left: 50vw;
    top: 24rem;
    opacity: 0.3;
    transform: rotate(7.82deg);
}
.navlink {
    display: flex;
}
/*Menu Button*/
.menu-btn {
    display: none;
    width: 30px;
    background: transparent;
    border: none;
}
.menu-btn:before, .menu-btn:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 3px;
}
.menu-btn:before {
    box-shadow: 0 10px 0 #fff;
    margin-bottom: 16px;
}

@media only screen and (max-width: 840px) {
    .navlink a {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .title {
        margin-top: 5rem;
    }
    .robo {
        width: 32rem;
        height: auto;
        top: 18rem;
        left: 20rem;
    }
    .subtitle {
        max-width: 20rem;
    }
}
@media only screen and (max-width: 540px) {
    .navbar .navlink, .navbar .button{
        display: none;
    }
    .navbar {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    .hero {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .title {
        margin-top: 3rem;
    }
    .robo {
        left: 1.5rem;
        top: 24rem;
        width: 32rem;
        height: auto;
    }
    .subtitle {
        max-width: 100%;
    }
    .menu-btn {
        display: block;
    }
    .menu {
        display: flex;
    }
}
.menu {
    position: fixed;
    width: 100vw;
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    justify-content: center;
    z-index: 101;
    flex-direction: column;
    transform: translateX(100vw);
    transition: all 1s;
}
.menu .navlink {
    flex-direction: column;
}
.menu .button {
    margin: 0.5rem auto 0 auto;
}
.menu .navlink a {
    margin-bottom: 1rem;
    font-size: medium;
}
.menu:target {
    display: flex;
    transform: translateY(0);
}
.close-btn {
    color: gray;
    margin-top: 1rem;
    font-size: xx-large;
}